@model LigaSurTulcan.Models.Gol_jugador_partido

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Gol_jugador_partido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.goles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.goles)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jugador.ced_jugador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jugador.ced_jugador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Partido.Jornada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Partido.Jornada)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_gol }) |
    @Html.ActionLink("Back to List", "Index")
</p>
