@model LigaSurTulcan.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Cambiar contraseña";
    Layout = null;
}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Oswald:400,700|Dancing+Script:400,700|Muli:300,400" rel="stylesheet">
<link rel="stylesheet" href="fonts/icomoon/style.css">
<link href="~/Content/all.css" rel="stylesheet" />
<link href="~/styles/font-awesome.css" rel="stylesheet" />
<link href="~/styles/font-awesome.min.css" rel="stylesheet" />
<link href="~/styles/style.css" rel="stylesheet" />

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

<br />
<br />
<br />
<br />

<h2 class="text-center">@ViewBag.Title.</h2>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4 class="text-center">Formulario para cambiar la contraseña</h4>
    <br/>
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group text-center">
        <label><i class="fa fa-unlock-alt" aria-hidden="true"></i> Contraseña actual</label>
        <div class="col-lg-4" style="float:none;margin:auto;">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group text-center">
        <label><i class="fa fa-unlock-alt" aria-hidden="true"></i> Contraseña Nueva </label>
        <div class="col-lg-4" style="float:none;margin:auto;">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group text-center">
        <label><i class="fa fa-unlock-alt" aria-hidden="true"></i> Confirmar Contraseña </label>
        <div class="col-lg-4" style="float:none;margin:auto;">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <br/>
    <div class="form-group text-center">
        <div class="col-md-offset-4 col-md-12">
            <input type="submit" value="Cambiar contraseña" class="btn btn-default" /> ||
            <a href="@Url.Action("Index","Manage")" class="text-black">Regresar</a>
        </div>
    </div>
    
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}