@model LigaSurTulcan.Models.Campeonato_Equipo

@{
    ViewBag.Title = "Edit";
}
<br /><br />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="http://codeseven.github.com/toastr/toastr.js"></script>
<link rel="stylesheet" type="text/css" href="http://codeseven.github.com/toastr/toastr.css">
<link href="~/Content/fontawesome.min.css" rel="stylesheet" />
<link href="~/Content/Letras.css" rel="stylesheet" />
<!--Loading font awesome icons.-->
<script src="https://use.fontawesome.com/d94f445648.js"></script>
<br /><br />
<h2 class="text-center" style="font-family:Jokerman">Editar Campeonato</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal text-center">

        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id_campeonato_equi)

        <div class="form-group">
            <label class="col-md-12">Campeonato</label>
            <div class="col-lg-3" style="float:none;margin:auto;">
                @Html.DropDownList("id_campeonato", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_campeonato, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-12">Club</label>
            <div class="col-lg-3" style="float:none;margin:auto;">
                @Html.DropDownList("id_Equipo", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_Equipo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-12">Inscripción</label>
            <div class="col-lg-3" style="float:none;margin:auto;">
                @Html.EditorFor(model => model.inscripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.inscripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-12">Garantía</label>
            <div class="col-lg-3" style="float:none;margin:auto;">
                @Html.EditorFor(model => model.garantia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.garantia, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-lg-3" style="float:none;margin:auto;">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                @Html.ActionLink("Regresar a Lista", "Index",null,new { style="color:blue"})
            </div>
        </div>
    </div>
}