@model LigaSurTulcan.Models.Pase

@{
    ViewBag.Title = "Create";

}

<br /><br />
@if (ViewBag.smserror != null)
{
    <div class="col-md-12">
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
            <h4><i class="icon fa fa-check"></i> Registro Guardado!</h4>
            @ViewBag.smserror
        </div>
    </div>
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="http://codeseven.github.com/toastr/toastr.js"></script>
<link rel="stylesheet" type="text/css" href="http://codeseven.github.com/toastr/toastr.css">
<link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
<!--Loading font awesome icons.-->
<script src="https://use.fontawesome.com/d94f445648.js"></script>
<br /><br />

<h2 class="text-center" style="font-family:Jokerman">Registro de Pase</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal text-center">
   
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
       
        
        <div class="form-group">
            <label class="col-md-12">Fecha</label>
            <div class="col-lg-3" style="float:none;margin:auto;">
                <input type="date" id="fechaActual" name="fecha" value="" class="form-control">
                @Html.ValidationMessageFor(model => model.fecha, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
           <label class="col-md-12">Valor Pase</label>
            <div class="col-lg-3" style="float:none;margin:auto;">
                @Html.EditorFor(model => model.valor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.valor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-12">Equipo que Ingresa</label>
            <div class="col-lg-3" style="float:none;margin:auto;">
                @Html.DropDownList("id_equipo_entra", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_equipo_entra, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-12">Equipo que sale</label>
            <div class="col-lg-3" style="float:none;margin:auto;">
                @Html.EditorFor(model => model.equipo_sale, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Equipo.nom_equipo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-12">Jugador</label>
            <div class="col-lg-3" style="float:none;margin:auto;">
                @Html.DropDownList("id_jugador", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Jugador.Fullname, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group text-center">
            <div class="col-lg-3" style="float:none;margin:auto;">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                @Html.ActionLink("Regresar a la Lista", "Index",null,new { style="color:blue"})
            </div>
        </div>
    </div>
}

@Html.Partial("Footer2")


<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
@section scripts{
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

<script>
    window.onload = function () {
        var fecha = new Date(); //Fecha actual
        var mes = fecha.getMonth() + 1; //obteniendo mes
        var dia = fecha.getDate(); //obteniendo dia
        var ano = fecha.getFullYear(); //obteniendo año
        if (dia < 10)
            dia = '0' + dia; //agrega cero si el menor de 10
        if (mes < 10)
            mes = '0' + mes //agrega cero si el menor de 10
        document.getElementById('fechaActual').value = ano + "-" + mes + "-" + dia;
    }


</script>
    }
