@model LigaSurTulcan.Models.Pase

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Menu2.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Pase</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.equipo_sale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.equipo_sale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Equipo.nom_equipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Equipo.nom_equipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jugador.ced_jugador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jugador.ced_jugador)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_pase }) |
    @Html.ActionLink("Back to List", "Index")
</p>
