@model LigaSurTulcan.Models.Partido_Equipo

@{
    ViewBag.Title = "Create";
}
<br /><br /><br /><br />
<h2 class="text-center" style="font-family:Jokerman">Registro Multa</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal text-center">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="col-md-12">Partido</label>
            <div class="col-lg-3" style="float:none;margin:auto;">
                @Html.DropDownList("id_partido", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_partido, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-12">Club</label>
            <div class="col-lg-3" style="float:none;margin:auto;">
                @Html.DropDownList("id_equipo", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_equipo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-12">Sanción</label>
            <div class="col-lg-3" style="float:none;margin:auto;">
                @Html.EditorFor(model => model.sancion, new { htmlAttributes = new { @class = "form-control", placeholder = "Sanción", style = "text-align:center" } })
                @Html.ValidationMessageFor(model => model.sancion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-12">Cantidad</label>
            <div class="col-lg-3" style="float:none;margin:auto;">
                @Html.EditorFor(model => model.cantidad, new { htmlAttributes = new { @class = "form-control", placeholder = "Cantidad", style = "text-align:center" } })
                @Html.ValidationMessageFor(model => model.cantidad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-12">Valor</label>
            <div class="col-lg-3" style="float:none;margin:auto;">
                @Html.EditorFor(model => model.valor, new { htmlAttributes = new { @class = "form-control", placeholder = "Valor", style = "text-align:center" } })
                @Html.ValidationMessageFor(model => model.valor, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group text-center">
            <div class="col-lg-3" style="float:none;margin:auto;">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                @Html.ActionLink("Regresar a Lista", "Index",null,new { style="color:blue"})
            </div>
        </div>
    </div>
}