@model LigaSurTulcan.Models.Partido_Equipo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Partido_Equipo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sancion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sancion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Equipo.nom_equipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Equipo.nom_equipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Partido.Jornada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Partido.Jornada)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_part_equipo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
