@model LigaSurTulcan.Models.Arbitro

@{
    ViewBag.Title = "Delete";
    Layout = null;
    @Html.Partial("_Menu2");


}

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Oswald:400,700|Dancing+Script:400,700|Muli:300,400" rel="stylesheet">
<link rel="stylesheet" href="fonts/icomoon/style.css">
<link href="~/Content/all.css" rel="stylesheet" />

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

<br />
<br />
<br />
<br />

<h2 class="text-center">Eliminar Arbitro</h2>

<h3 class="text-center text-danger">Está de eliminar el registro?</h3>
<div>
    
    <hr />
    <dl class="col-md-12">
        <dt>
            <label class="col-md-12">Cédula</label>
        </dt>

        <dd class="col-md-12">
            @Html.DisplayFor(model => model.ced_arbitro)
        </dd>

        <dt>
            <label class="col-md-12">Nombres</label>
        </dt>

        <dd class="col-md-12">
            @Html.DisplayFor(model => model.nom_arbitro)
        </dd>

        <dt>
            <label class="col-md-12">Apellidos</label>
        </dt>

        <dd class="col-md-12">
            @Html.DisplayFor(model => model.apell_arbitro)
        </dd>

        <dt>
            <label class="col-md-12">Dirección</label>
        </dt>

        <dd class="col-md-12">
            @Html.DisplayFor(model => model.dir_arbitro)
        </dd>

        <dt>
            <label class="col-md-12">País</label>
        </dt>

        <dd class="col-md-12">
            @Html.DisplayFor(model => model.Pais)
        </dd>

        <dt>
            <label class="col-md-12">Telefóno</label>
        </dt>

        <dd class="col-md-12">
            @Html.DisplayFor(model => model.telf_arbitro)
        </dd>

        <dt>
            <label class="col-md-12">E-mail</label>
        </dt>

        <dd class="col-md-12">
            @Html.DisplayFor(model => model.correo_arbitro)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color text-center">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Regresar a la Lista", "Index")
        </div>
    }
</div>

@Html.Partial("Footer2")
