@model LigaSurTulcan.Models.Vocal

@{
    ViewBag.Title = "Edit";

}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="http://codeseven.github.com/toastr/toastr.js"></script>
<link rel="stylesheet" type="text/css" href="http://codeseven.github.com/toastr/toastr.css">
<link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
<!--Loading font awesome icons.-->
<script src="https://use.fontawesome.com/d94f445648.js"></script>
<br /><br />
<br /><br />
<h2 class="text-center" style="color:black; font-family:Jokerman">Editar Vocal</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal text-center ">
        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id_vocal)

        <div class="form-group">
            <label class="col-md-12">Cédula</label>
            <div class="col-lg-3" style="float:none;margin:auto;">
                @Html.EditorFor(model => model.ced_vocal, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ced_vocal, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-12">Nombres</label>
            <div class="col-lg-3" style="float:none;margin:auto;">
                @Html.EditorFor(model => model.nom_vocal, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nom_vocal, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-12">Apellidos</label>
            <div class="col-lg-3" style="float:none;margin:auto;">
                @Html.EditorFor(model => model.apell_vocal, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.apell_vocal, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <label class="col-md-12">Telefóno</label>
            <div class="col-lg-3" style="float:none;margin:auto;">
                @Html.EditorFor(model => model.telf_vocal, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.telf_vocal, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-12">Correo</label>
            <div class="col-lg-3" style="float:none;margin:auto;">
                @Html.EditorFor(model => model.correo_vocal, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.correo_vocal, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-lg-3" style="float:none;margin:auto;">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                @Html.ActionLink("Regresar a Lista", "Index", null, new { Style = "color:blue" })
            </div>
        </div>

        <br />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

