@model LigaSurTulcan.Models.Campeonato

@{
    ViewBag.Title = "Create";
}
<br /><br />
@if (ViewBag.smserror != null)
{
    <div class="col-md-12">
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
            <h4><i class="icon fa fa-exclamation-triangle"></i> Faltan pagos!</h4>
            @ViewBag.smserror
        </div>
    </div>
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="http://codeseven.github.com/toastr/toastr.js"></script>
<link rel="stylesheet" type="text/css" href="http://codeseven.github.com/toastr/toastr.css">
<link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
<!--Loading font awesome icons.-->
<script src="https://use.fontawesome.com/d94f445648.js"></script>
<br /><br />
<h1 class="text-center" style="color:black; font-family:Jokerman">Nuevo Campeonato</h1>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br />
    <div class="form-horizontal text-center">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="col-md-12">Campeonato</label>
            <div class="col-lg-3" style="float:none;margin:auto;">
                @Html.EditorFor(model => model.Nom_Campeonato, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nombre de campeonato" } })
                @Html.ValidationMessageFor(model => model.Nom_Campeonato, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-12">Fecha Inicio</label>
            <div class="col-lg-3" style="float:none;margin:auto;">
                @Html.EditorFor(model => model.fecha_ini, new { htmlAttributes = new { @class = "form-control", Type = "Date" } })
                @Html.ValidationMessageFor(model => model.fecha_ini, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-12">Fecha Fin</label>
            <div class="col-lg-3" style="float:none;margin:auto;">
                @Html.EditorFor(model => model.fecha_fin, new { htmlAttributes = new { @class = "form-control", Type = "Date" } })
                @Html.ValidationMessageFor(model => model.fecha_fin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group text-center">
            <label>Estado</label>
            <div class="col-lg-3" style="float:none;margin:auto;">
                @Html.DropDownListFor(model => model.Estado_campeonato, new SelectList(new[] { "Activo", "Inactivo" }), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Estado_campeonato, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-lg-3" style="float:none;margin:auto;">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                @Html.ActionLink("Regresar a la Lista", "Index",null, new { @class = "glyphicon glyphicon-edit", style = "color:blue" }) 
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}