@model LigaSurTulcan.Models.Campeonato

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Campeonato</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom_Campeonato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_Campeonato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_ini)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_ini)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_fin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_fin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado_campeonato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado_campeonato)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_campeonato }) |
    @Html.ActionLink("Back to List", "Index")
</p>
