
@{
    ViewBag.Title = "Home Page";
}

@if (User.IsInRole("Admin"))
{
    <div class="site-navbar py-2 js-sticky-header site-navbar-target d-none pl-0 d-lg-block" role="banner">
        <div class="container">
            <div class="d-flex align-items-center">

                <div class="mx-auto">
                    <nav class="site-navigation position-relative" role="navigation">
                        <ul class="site-menu main-menu ">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Registros
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="@Url.Action("Index", "Dirigente")">Dirigentes</a>
                                    <a class="dropdown-item" href="@Url.Action("Index", "Equipo")">Club</a>
                                    <a class="dropdown-item" href="@Url.Action("Index", "Jugador")">Jugador</a>
                                    <a class="dropdown-item" href="@Url.Action("Index", "Arbitros")">Arbitro</a>
                                    <a class="dropdown-item" href="@Url.Action("Index", "Vocal")">Vocal</a>
                                </div>
                            </li>


                            <li>
                                @Html.Partial("_LoginPartial")
                            </li>

                        </ul>
                    </nav>

                </div>

            </div>
        </div>
    </div>
}
else if (User.IsInRole(""))
{
    <div class="site-navbar py-2 js-sticky-header site-navbar-target d-none pl-0 d-lg-block" role="banner">
        <div class="container">
            <div class="d-flex align-items-center">

                <div class="mx-auto">
                    <nav class="site-navigation position-relative" role="navigation">
                        <ul class="site-menu main-menu ">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Registros
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="@Url.Action("Index", "Dirigente")">Dirigentes</a>
                                    <a class="dropdown-item" href="@Url.Action("Index", "Equipo")">Club</a>
                                    <a class="dropdown-item" href="@Url.Action("Index", "Jugador")">Jugador</a>
                                    <a class="dropdown-item" href="@Url.Action("Index", "Arbitros")">Arbitro</a>
                                    <a class="dropdown-item" href="@Url.Action("Index", "Vocal")">Vocal</a>
                                </div>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","Campeonato_Equipo")">Inscripciones</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Jugador")">Jugadores</a>
                            </li>

                            <li>
                                <a href="@Url.Action("Index","Partido")">Calendario</a>
                            </li>

                            <li>
                                @Html.Partial("_LoginPartial")
                            </li>

                        </ul>
                    </nav>

                </div>

            </div>
        </div>
    </div>
}




 <!--Carrusel-->
<div class="hero-slide owl-carousel site-blocks-cover">
    <div class="intro-section" style="background-image: url('/Content/images/rector.jpg');">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 ml-auto text-right" data-aos="fade-up">
                    <h1>Agradecimeinto al Dr. Hugo Ruíz</h1>
                    <p>Liga barrial del Sur, agradece al señor Rector de la Universidad Politécnica Estatal del Carchi</p>
                    <p><a href="#" class="btn btn-primary py-3 px-5">Leer más...</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="intro-section" style="background-image: url('/Content/images/frente.jpg');">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 mx-auto text-center" data-aos="fade-up">
                    <h1>Nuestros escenarios deportivos</h1>
                    <p>Te invitamos a conocer nuestro estadio que se encuetra ubicado al sur-occidente de la ciudad, a pocos pasos de la Universidad Politécnica Estatal del Carchi</p>
                    <p><a href="#" class="btn btn-primary py-3 px-5">Leer mas...</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="intro-section" style="background-image: url('/Content/images/fubtbol1.jpg');">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 ml-auto text-right" data-aos="fade-up">
                    <h1>Escuelas formativas de Liga barrial del Sur</h1>
                    <p>Fomentando el deporte en los niños, jovenes y adultos de nuestra provincia y sus alrededores aledaños, para un pais sin drogas</p>
                    <p><a href="#" class="btn btn-primary py-3 px-5">Leer mas...</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="intro-section" style="background-image: url('/Content/images/a4.jpg');">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 ml-auto text-right" data-aos="fade-up">
                    <h1>Categoria master de Liga Barrial Sur, presente</h1>
                    <p>El representante de la categoria master se hace acreedor del campeonato de interligas en la provincia del Carchi</p>
                    <p><a href="#" class="btn btn-primary py-3 px-5">Leer mas...</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END slider -->
<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="~/Content/images/cuadros.jpg" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-6">
                <span class="text-serif text-primary">Sobre Nosotros</span>
                <h3 class="heading-92913 text-black">Bienvenidos a Liga Barrial del Sur</h3>
                <p>Bienvenidos a Liga Barrial del Sur de la ciudad de Tulcán, donde existe alegria, paz y sobre todo confraternidad.</p>
                <p>Estamos enfocados a buscar talentos deportivos en lo que concierne al fútbol amater para asi a finales del segundo quimestre, sea un representante más en interligas.</p>
                <p><a href="#" class="btn btn-primary py-3 px-4">Leer más..</a></p>
            </div>
        </div>
    </div>
</div>
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="service-29283">
                    <span class="wrap-icon-39293">
                        <span class="fas fa-futbol"></span>
                    </span>
                    <h3>25 Clubes</h3>
                    <p>Amantes por el deporte en nuestra liga se encuentran los mejores equipos a nivel provincial.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-29283">
                    <span class="wrap-icon-39293">
                        <span class="fas fa-address-card"></span>
                    </span>
                    <h3>30 años de experiencia</h3>
                    <p>Con más de 30 años de experincia a nivel deportivo, formando los mejores jugadores.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-29283">
                    <span class="wrap-icon-39293">
                        <span class="fa fa-users"></span>
                    </span>
                    <h3>Auspiciantes</h3>
                    <p>Nuestros auspiciantes, apoyando siempre al deporte barrial de la provincia Carchense.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="site-section bg-image overlay" style="background-image: url('../../Content/images/wallpaper.jpg');">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="counter-39392">
                    <img src="~/Content/images/jugador.png" alt="">
                    <h3>349</h3>
                    <span>Jugadores Participantes</span>
                </div>
            </div>
            <div class="col">
                <div class="counter-39392">
                    <img src="~/Content/images/entrenador.png" alt="">
                    <h3>25</h3>
                    <span>Dirigentes</span>
                </div>
            </div>
            <div class="col">
                <div class="counter-39392">
                    <img src="~/Content/images/icon.png" alt="">
                    <h3>15</h3>
                    <span>Terna Arbitral</span>
                </div>
            </div>
            <div class="col">
                <div class="counter-39392">
                    <img src="~/Content/images/futbol.png" alt="">
                    <h3>25</h3>
                    <span>Clubes</span>
                </div>
            </div>

        </div>
    </div>

</div>
<div class="site-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center">
                <span class="text-serif text-primary">Galeria</span>
                <h3 class="heading-92913 text-black text-center">Galeria de Liga Barrial del Sur</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="service-39381">
                    <img src="~/Content/images/b1.jpg" alt="Image" class="img-fluid">
                    <div class="p-4">
                        <h3><a href="#"><span class="icon-room mr-1 text-primary"></span> Omar Guerrero &mdash; Campeonato Master</a></h3>
                        <div class="d-flex">
                            <div class="mr-auto">
                                <span class="icon-date_range"></span>
                                Sep. 05 &mdash; Oct. 15
                            </div>
                            <div class="ml-auto price">

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="service-39381">
                    <img src="~/Content/images/b2.jpg" alt="Image" class="img-fluid">
                    <div class="p-4">
                        <h3><a href="#"><span class="icon-room mr-1 text-primary"></span> Juan Zapata &mdash; Campeonato master</a></h3>
                        <div class="d-flex">
                            <div class="mr-auto">
                                <span class="icon-date_range"></span>
                                Sep. 05-2019 &mdash; Oct. 15-2019
                            </div>
                            <div class="ml-auto price">

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="service-39381">
                    <img src="~/Content/images/b3.jpg" alt="Image" class="img-fluid">
                    <div class="p-4">
                        <h3><a href="#"><span class="icon-room mr-1 text-primary"></span> Pedro Cardenas &mdash;Campeonato master</a></h3>
                        <div class="d-flex">
                            <div class="mr-auto">
                                <span class="icon-date_range"></span>
                                Sep. 05-2019 &mdash; Oct. 15-2019
                            </div>
                            <div class="ml-auto price">

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="service-39381">
                    <img src="~/Content/images/agradecimiento.jpg" alt="Image" class="img-fluid">
                    <div class="p-4">
                        <h3><a href="#"><span class="icon-room mr-1 text-primary"></span> Agradecimeinto &mdash; Dr. Ándres Ruano</a></h3>
                        <div class="d-flex">
                            <div class="mr-auto">
                                <span class="icon-date_range"></span>
                                Julio 07 del 2019
                            </div>
                            <div class="ml-auto price">

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="service-39381">
                    <img src="~/Content/images/noticia2.jpg" alt="Image" class="img-fluid">
                    <div class="p-4">
                        <h3><a href="#"><span class="icon-room mr-1 text-primary"></span> Liga barrial sur &mdash; Campeón de la master</a></h3>
                        <div class="d-flex">
                            <div class="mr-auto">
                                <span class="icon-date_range"></span>
                                Jul. 15-2019 &mdash; Sep. 15-2019
                            </div>
                            <div class="ml-auto price">

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="service-39381">
                    <img src="~/Content/images/reconocimiento.jpg" alt="Image" class="img-fluid">
                    <div class="p-4">
                        <h3><a href="#"><span class="icon-room mr-1 text-primary"></span> Reconocimiento &mdash; Dr.Hugo Ruiz</a></h3>
                        <div class="d-flex">
                            <div class="mr-auto">
                                <span class="icon-date_range"></span>
                                Mayo 10 del 2019
                            </div>
                            <div class="ml-auto price">

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="site-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center">
                <span class="text-serif text-primary">Directiva</span>
                <h3 class="heading-92913 text-black text-center">Nuestra Directiva</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-3 mb-lg-0">
                <div class="person">
                    <figure>
                        <img src="~/Content/images/pascal.jpg" alt="Image" class="img-fluid">
                        <div class="social">
                            <a href="#"><span><i class="fab fa-twitter"></i></span></a>
                            <a href="#"><span><i class="fab fa-facebook"></i></span></a>
                            <a href="#"><span><i class="fab fa-google"></i></span></a>
                        </div>
                    </figure>
                    <div class="person-contents">
                        <h5>Sr. Ándres Pascal</h5>
                        <span class="position">Presidente</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 mb-lg-0">
                <div class="person">
                    <figure>
                        <img src="~/Content/images/pao.jpg" alt="Image" class="img-fluid">
                        <div class="social">
                            <a href="#"><span><i class="fab fa-twitter"></i></span></a>
                            <a href="#"><span><i class="fab fa-facebook"></i></span></a>
                            <a href="#"><span><i class="fab fa-google"></i></span></a>
                        </div>
                    </figure>
                    <div class="person-contents">
                        <h5>Sra. Paola Auz</h5>
                        <span class="position">Secretaria</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 mb-lg-0">
                <div class="person">
                    <figure>
                        <img src="~/Content/images/perfil.jpg" alt="Image" class="img-fluid">
                        <div class="social">
                            <a href="#"><span><i class="fab fa-twitter"></i></span></a>
                            <a href="#"><span><i class="fab fa-facebook"></i></span></a>
                            <a href="#"><span><i class="fab fa-google"></i></span></a>
                        </div>
                    </figure>
                    <div class="person-contents">
                        <h5>Sr. Libardo Jativa</h5>
                        <span class="position">Tesorero</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 mb-lg-0">
                <div class="person">
                    <figure>
                        <img src="~/Content/images/napo.jpg" alt="Image" class="img-fluid">
                        <div class="social">
                            <a href="#"><span><i class="fab fa-twitter"></i></span></a>
                            <a href="#"><span><i class="fab fa-facebook"></i></span></a>
                            <a href="#"><span><i class="fab fa-google"></i></span></a>
                        </div>
                    </figure>
                    <div class="person-contents">
                        <h5>Sr. Napo Valdiviezo</h5>
                        <span class="position">Comisión Técnica</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 mb-lg-0">
                <div class="person">
                    <figure>
                        <img src="~/Content/images/perfil.jpg" alt="Image" class="img-fluid">
                        <div class="social">
                            <a href="#"><span><i class="fab fa-twitter"></i></span></a>
                            <a href="#"><span><i class="fab fa-facebook"></i></span></a>
                            <a href="#"><span><i class="fab fa-google"></i></span></a>
                        </div>
                    </figure>
                    <div class="person-contents">
                        <h5>Sr. Omar Guerrero</h5>
                        <span class="position">Comisión Disciplina</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 mb-lg-0">
                <div class="person">
                    <figure>
                        <img src="~/Content/images/omar.jpg" alt="Image" class="img-fluid">
                        <div class="social">
                            <a href="#"><span><i class="fab fa-twitter"></i></span></a>
                            <a href="#"><span><i class="fab fa-facebook"></i></span></a>
                            <a href="#"><span><i class="fab fa-google"></i></span></a>
                        </div>
                    </figure>
                    <div class="person-contents">
                        <h5>Sr. Raúl Revelo</h5>
                        <span class="position">Vocalia</span>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<div class="site-section bg-image overlay" style="background-image: url('../../Content/images/cancha.jpg');">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 text-center">
                <h2 class="text-white">Contáctate con Nosotros</h2>
                <p class="lead text-white">Quieres ser parte de nuestra liga, envianos tu comentario</p>
                <p class="mb-0"><a href="@Url.Action("Contact", "Home")" class="btn btn-warning py-3 px-5 text-white">Contáctenos</a></p>
            </div>
        </div>
    </div>
</div>


<br /><br />
<!--Footer-->
@Html.Partial("_Footer")
