<link href="https://fonts.googleapis.com/css?family=Oswald:400,700|Dancing+Script:400,700|Muli:300,400" rel="stylesheet">
<link rel="stylesheet" href="fonts/icomoon/style.css">
<link href="~/Content/all.css" rel="stylesheet" />
<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/plugins/DataTables-1.10.15/media/js/jquery.js"></script>
@Styles.Render("~/Content/css")
@Styles.Render("~/bundles/sweetalert/css")
@Scripts.Render("~/bundles/modernizr")
<link href="~/Scripts/plugins/DataTables-1.10.15/media/css/jquery.dataTables.min.css" rel="stylesheet" />


    <div class="site-navbar py-2 js-sticky-header site-navbar-target d-none pl-0 d-lg-block" role="banner">
    <div class="container">
        <div class="d-flex align-items-center">

            <div class="mx-auto">
                <nav class="site-navigation position-relative" role="navigation">
                    <ul class="site-menu main-menu ">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Registros
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="@Url.Action("Index", "Dirigente")">Dirigentes</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "Equipo")">Club</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "Jugador")">Jugador</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "Arbitros")">Arbitro</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "Vocal")">Vocal</a>
                            </div>
                        </li>


                        <li>
                            @Html.Partial("_LoginPartial")
                        </li>

                    </ul>
                </nav>

            </div>

        </div>
    </div>
</div>

<!--Menu 2-->
@*@Html.Partial("_LoginPartial")
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent d-flex" style="text-align:center">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index", "Campeonato")">Campeonato <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Campeonato_Equipo")">Inscripciones</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Registros
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="@Url.Action("Index", "Dirigente")">Dirigentes</a>
                    <a class="dropdown-item" href="@Url.Action("Index", "Equipo")">Club</a>
                    <a class="dropdown-item" href="@Url.Action("Index", "Jugador")">Jugador</a>
                    <a class="dropdown-item" href="@Url.Action("Index", "Arbitros")">Arbitro</a>
                    <a class="dropdown-item" href="@Url.Action("Index", "Vocal")">Vocal</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Multas
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="@Url.Action("Index", "#")">Multa Equipo</a>
                    <a class="dropdown-item" href="@Url.Action("Index", "#")">Sanción Jugador</a>
                </div>
            </li>
            <li class="nav-item">
                @Html.Partial("_LoginPartial")
            </li>
        </ul>
        </div>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
    
</nav>*@


