<div class="site-navbar py-2 js-sticky-header site-navbar-target d-none pl-0 d-lg-block" role="banner">
    <div class="container">
        <div class="d-flex align-items-center">

            <div class="mx-auto">
                <nav class="site-navigation position-relative" role="navigation">
                    <ul class="site-menu main-menu ">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Registros
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="@Url.Action("Index", "Dirigente")">Dirigentes</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "Equipo")">Club</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "Jugador")">Jugador</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "Arbitros")">Arbitro</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "Vocal")">Vocal</a>
                            </div>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Campeonato_Equipo")">Inscripciones</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Jugador")">Jugadores</a>
                        </li>

                        <li>
                            <a href="@Url.Action("Index","Partido")">Calendario</a>
                        </li>

                        <li>
                            @Html.Partial("_LoginPartial")
                        </li>

                    </ul>
                </nav>

            </div>

        </div>
    </div>
</div>
